@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body{
  background-color: #424949;
  font-family: 'Roboto', monospace;
}

.todo-name{
  color: white;
}

.list-group{
  display: block;
  margin-top: 5px;
  width: 550px;
  padding: 0px;
  background-color: #515A5A;
text-align: left;
}

.Add-container{
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #515A5A;
  height: 70px;
}
.todo-input{
  display: inline-block;
float: left;
}

.todo-input label{
  display: block;
  text-align: left;
  color: white;
  margin: 5px;
}

.todo-input input{
  display: block;
  width: 200px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

.btn-submit{
  display: block;
  border: none;
  padding: 5px 15px;
  border-radius: 9px;
  float: right;
  position: relative;
  top: 25px;
  background-color: orange;
  color:white;
}

.todo-item{
  width: 550px;
  position: relative;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
}
.todo-chkbox{
  display: inline-block;
  top:0px;
  bottom: 0px;
}

.todo-details{
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 4px;
}

.todo-details p{
  margin: 0;
  padding: 2px;
}


.todo-delete{
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.todo-delete button{
  border: 1px solid orange;
  padding: 5px 15px;
  border-radius: 9px;
  margin: 5px;
  color: orange;
  background-color: white;
}

.todo-title{
  color: orange;
  font-weight: bold;
}

.todo-desc{
  color: white;
}

.todo-count{
  color: white;
}